{% render 'partials/head.liquid' %}

<section class="business-card">
        <article class="card-inner">
            
            <!-- Voorkant -->
            <div class="card-front">
                <header>
                    <img src="assets/aria.jpg" alt="Jouw Naam">
                    <h1>{{ person.name }}</h1>
                    <p>Front-end Developer</p>
                </header>

                <nav>
                    <button class="flip-button">Meer over mij</button>
                </nav>
            </div>

            <!-- Achterkant -->
            <div class="card-back">
                <header>
                    <h2>Over Mij</h2>
                    <p>Ik ben een gepassioneerde webdeveloper met een focus op front-end development.</p>
                </header>

                <ul class="contact-info">
                    <li>
                      <ion-icon name="mail-outline"></ion-icon>
                      <a href="mailto:aria.poormohsein@hva.nl">aria.poormohsein@hva.nl</a>
                    </li>

                    <li>
                      <ion-icon name="call-outline"></ion-icon>
                      <a href="tel:+31612345678">+31 6 12345678</a>
                    </li>

                    <li>
                      <ion-icon name="logo-github"></ion-icon> 
                      <a href="https://github.com/poormoa00">GitHub</a>
                    </li>

                    <li>
                      <ion-icon name="logo-linkedin"></ion-icon> 
                      <a href="https://www.linkedin.com/in/jouwnaam">LinkedIn</a>
                    </li>
                </ul>

                <button class="flip-button">Terug</button>
            </div>
        </article>
    </section>

    <script src="scripts/script.js"></script>


{% render 'partials/foot.liquid' %}
